html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100%;
}

#main {
  margin-top: 5rem;
  min-height: 100vh;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  background-color: #2196f3 !important;
}

[class$="-primary"],
[class*="-primary "] {
  background-color: #2196f3 !important;
}

.hidden {
  display: none;
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
}

.searchArea {
  padding-top: 100px;
}


.nav-search::placeholder {
  color: white;
}
