
<form action="">
  <fieldset>
    <label>Location:</label>
      <label class="container">A
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container">B
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container">C
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container">D
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <br/>
    <label>Type:</label>
    <label class="container">A
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container">B
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container">C
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container">D
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <br/>
    <label>Price:</label>
    <label class="container">A
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container">B
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container">C
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container">D
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    
  </fieldset>
</form>